<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>debugger</title>
</head>
<body>
    <div id="connection-screen">
        <form id="connection-form">
            <div>
                IP-address: <input id="ip-addr-field" name="ip-address" type="text" pattern="^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}(:\d{1,5})?$">
            </div>
            <input id="connect-button" value="connect" type="submit">
        </form>
    </div>
    <div id="debugger-screen" class="hidden">
        <div class="debugger-grid">
            <div class="frame plot">
                <div class="plot-container">
                    <div id="object-overlay">
                        <svg class="object-icon" id="object-prefab" width="38.55px" height="38.5333px">
                            <g
                            id="layer1"
                            transform="translate(-59.5,-49.5)">
                           <path
                              id="path1"
                              style="stroke:#000000;stroke-width:3;stroke-miterlimit:3;stroke-dasharray:none;stroke-opacity:1"
                              d="m 94.534625,70.711899 c 0,8.144765 -6.602636,14.747401 -14.747401,14.747401 -8.144765,0 -14.747401,-6.602636 -14.747401,-14.747401 L 79.787224,55.964498 Z"
                              sodipodi:nodetypes="csccc" />
                         </g>                       
                        </svg>
                    </div>
                    <canvas width="600px" height="600px" id="main-canvas">
                    </canvas>
                </div>
            </div>
            <div class="frame terminal">
                <div id="text-output-container">
                    <div id="text-output">
                    </div>
                </div>
                <form id="terminal-input-form">
                    <input id="text-input" name="message" type="text">
                    <input value="send" type="submit">
                </form>
            </div>
            <div class="frame sensors">
                <table id="sensors-table">
                    <thead>
                        <tr>
                          <th scope="col">id</th>
                          <th scope="col">name</th>
                          <th scope="col">value</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <footer>
            connected to <span id="robot-ip"></span>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>